<footer class="site-footer">
  <div class="wrapper">

    <!-- Footer heading -->
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">

      <!-- Left footer column -->
      <div class="footer-col-left">
        <p>{{ site.description }}</p>
      </div>

      <!-- Right footer column -->
      <div class="footer-col-right">
        <p>&ldquo;{{ site.taglines | sample }}&rdquo;</p>
      </div>
    </div>

  </div>

      <!-- Copyright notice -->
  <div class="copyright">
    <div style="text-align: center;">&copy; 2020 {{ site.copyright_holder }}</div>
  </div>
</footer>
