---
---
@import "theme";

.markdown-content p
{
	overflow: auto;
}

.markdown-content img[src$="#left-quarter"]
{
	float: left;
	width: 25%;
	margin-right: $spacing-unit / 2;
	border: 1px solid $grey-color-dark;
	border-radius: 10px;
}

.markdown-content img[src$="#right-quarter"]
{
	float: right;
	width: 25%;
	margin-left: $spacing-unit / 2;
	border: 1px solid $grey-color-dark;
	border-radius: 10px;
}

.markdown-content img[src$="#left-third"]
{
	float: left;
	width: 33%;
	margin-right: $spacing-unit / 2;
	border: 1px solid $grey-color-dark;
	border-radius: 10px;
}

.markdown-content img[src$="#right-third"]
{
	float: right;
	width: 33%;
	margin-left: $spacing-unit / 2;
	border: 1px solid $grey-color-dark;
	border-radius: 10px;
}

.markdown-content img[src$="#left-half"]
{
	float: left;
	width: 50%;
	margin-right: $spacing-unit / 2;
	border: 1px solid $grey-color-dark;
	border-radius: 10px;
}

.markdown-content img[src$="#right-half"]
{
	float: right;
	width: 50%;
	margin-left: $spacing-unit / 2;
	border: 1px solid $grey-color-dark;
	border-radius: 10px;
}