---
---
@import "minima";

/*
 * For everything other than phones, we put the footer columns side-by-side.
 * The middle column is included as a buffer between the left and right columns.
 * Will eventually remove it and use padding instead, but for now I'm trying to get
 * this right without redoing the theme layouts.
 */
.footer-col-1
{
	width: -webkit-calc(47.5% - (#{$spacing-unit} / 2));
	width: calc(47.5% - (#{$spacing-unit} / 2));
}

.footer-col-2
{
	width: -webkit-calc(5% - (#{$spacing-unit} / 2));
	width: calc(5% - (#{$spacing-unit} / 2));
}

.footer-col-3
{
	width: -webkit-calc(47.5% - (#{$spacing-unit} / 2));
	width: calc(47.5% - (#{$spacing-unit} / 2));
	text-align: right;
}


/*
 * For phones, stack the footer columns vertically since there isn't enough
 * horizontal space.
 * Middle column is hidden.  Will eventually remove it.
 */
@include media-query($on-palm)
{
	.footer-col-1
	{
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
	}

	.footer-col-2
	{
		display: none;
	}

	.footer-col-3
	{
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
		text-align: left;
	}
}