---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {%- capture more_link -%}
            <a href="{{ post.url | relative_url }}">more ...</a>
          {%- endcapture -%}
          {%- capture excerpt_end -%}
            <span class="read-more">[ {{ more_link }} ]</span>
          {%- endcapture -%}
          {%- assign excerpt_end = excerpt_end | prepend: "&nbsp;&nbsp;" | append: "</p>" -%}
          {%- assign excerpt = post.excerpt | replace: "</p>", excerpt_end -%}
          <div class="markdown-content">
            {{ excerpt }}
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- if paginator.previous_page or paginator.next_page -%}
      <div class="next-prev">
        {%- if paginator.previous_page -%}
          <div class="prev">
            <a href="{{ paginator.previous_page_path }}">&larr; Previous</a>
          </div>
        {%- endif -%}
        {%- if paginator.next_page -%}
          <div class="next">
            <a href="{{ paginator.next_page_path }}">Next &rarr;</a>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}

</div>
